<u>SQL SELECT</u>

Veritabanından veri seçmek için kullanılır.

**SELECT** sonrası yıldız ile belirtilen yere sütun ismi yazılabilir.

**FROM** ise hangi tabloyu seçeceğini gösterir

In [ ]:
SELECT * FROM Customers;

In [ ]:
SELECT CompanyName, City FROM Customers;

<u>SQL SELECT DISTINCT</u>

Veritabanında seçilen sütunlarda yinelenen değerleri göstermemeyi sağlar.

In [ ]:
SELECT DISTINCT City FROM Customers;

<u>SQL WHERE</u>

**WHERE** veriyi filtrelemek için kullanılan kelimedir.

In [ ]:
SELECT * FROM Customers WHERE Country='Mexico';

In [ ]:
SELECT * FROM Customers WHERE PostalCode=12209;

In [ ]:
SELECT * FROM Customers WHERE City LIKE 's%';

In [ ]:
SELECT * FROM Products WHERE UnitPrice BETWEEN 50 AND 60;

In [ ]:
SELECT * FROM Customers WHERE City IN ('Paris', 'London');

<u>SQL AND, OR and NOT Operators</u>

Kayıtları birden fazla koşula göre filtrelemek için kullanılır.

**AND** tüm koşullar doğru ise görüntülenir.

**OR** koşullardan herhangi biri doğru ise görüntülenir.

**NOT** koşul doğru değilse görüntülenir.

In [ ]:
SELECT * FROM Customers WHERE Country='Germany' AND City='Berlin';

In [ ]:
SELECT * FROM Customers WHERE City='Berlin' OR City='Mannheim';

In [ ]:
SELECT * FROM Customers WHERE NOT Country='Germany';

Tüm isteyicileri birleştirebilirsiniz.

In [ ]:
SELECT * FROM Customers
WHERE Country='Germany' AND (City='Berlin' OR City='München');

<u>SQL ORDER BY</u>

Seçilen herhangi bir sütunu sıralamak için kullanılır.

**ASC** \- A dan Z ye

**DESC** \- Z den A ya

In [ ]:
SELECT * FROM Customers ORDER BY Country;

In [ ]:
SELECT * FROM Customers ORDER BY Country ASC;

In [ ]:
SELECT * FROM Customers ORDER BY Country DESC;

<u>SQL INSERT INTO</u>

Yeni kayıt ekleme yarar.

In [ ]:
INSERT INTO Customers (CustomerID, CompanyName, Address, City, PostalCode, Country)
VALUES ('ALFK2', 'Cardinal', 'Skaylake', 'Berlin', '4444', 'Germany');

<u>SQL IS NULL / NOT NULL</u>

In [ ]:
SELECT * FROM Customers WHERE City IS NULL;

In [ ]:
SELECT * FROM Customers WHERE City IS NOT NULL;