SELECT KOMUTU 

Seç demek bir veri kaynağındaki datayı çekmek için kullanılır.

In [ ]:
SELECT ContactName Adi, CompanyName SirketAdi, City Sehir FROM Customers

Where ; Koşuldur, filtreleme için kullanılır.

In [ ]:
SELECT * from Customers WHERE City = 'London'

In [ ]:
SELECT * FROM Products WHERE CategoryID = 1 or CategoryID = 3

In [ ]:
SELECT * FROM Products WHERE CategoryID = 1 and UnitPrice >= 10

Order by

Belirtilen kolonları sıralamadır.

asc -- ascending ARTAN

desc -- descending AZALAN

In [ ]:
SELECT * FROM Products WHERE CategoryID = 1 ORDER BY UnitPrice DESC

In [ ]:
SELECT COUNT(*) Adet FROM Products WHERE CategoryID = 2

Group By --- Seçilen tablodaki kolonu tekrar etmeyecek şekilde getir. Yanına count eklersen kaçtane tekrar ettiği belli olur.

Group By de having komutu WHERE yerine geçer. WHERE komutu her zaman group by den önce çalışır ve veriyi filtreler

In [ ]:
SELECT CategoryID, count(*) FROM Products WHERE UnitPrice > 20
GROUP BY CategoryID HAVING count(*) < 10

JOIN - inner join // Sadece iki tabloda eşleşenleri bir araya getirir

c# = DTO - Data Transformation Object

In [ ]:
SELECT Products.CategoryID, Products.ProductName,Products.UnitPrice, Categories.CategoryName
from Products
inner join Categories on Products.CategoryID = Categories.CategoryID
WHERE Products.UnitPrice > 10
ORDER BY Products.UnitPrice

JOIN - left join // solda olupta sağda olmayanları da getir.

WHERE is null ile solda olup sağda olmayanlar tespit edilebilir

In [43]:
SELECT * 
from Products p
left join [Order Details] od
on p.ProductID = od.ProductID

In [ ]:
SELECT * 
from Products p
left join [Order Details] od
on p.ProductID = od.ProductID
inner join Orders o
on o.OrderID = od.OrderID

In [ ]:
SELECT *
from Customers c
left join Orders o
on c.CustomerID = o.CustomerID
WHERE o.CustomerID is null