<u>SQL SELECT</u>

Veritabanından veri seçmek için kullanılır.

**SELECT** sonrası yıldız ile belirtilen yere sütun ismi yazılabilir.

**FROM** ise hangi tabloyu seçeceğini gösterir

In [ ]:
SELECT * FROM Customers;

In [ ]:
SELECT CompanyName, City FROM Customers;

<u>SQL SELECT DISTINCT</u>

Veritabanında seçilen sütunlarda yinelenen değerleri göstermemeyi sağlar.

In [ ]:
SELECT DISTINCT City FROM Customers;

<u>SQL WHERE</u>

**WHERE** veriyi filtrelemek için kullanılan kelimedir.

In [ ]:
SELECT * FROM Customers WHERE Country='Mexico';

In [ ]:
SELECT * FROM Customers WHERE PostalCode=12209;

In [ ]:
SELECT * FROM Customers WHERE City LIKE 's%';

In [ ]:
SELECT * FROM Products WHERE UnitPrice BETWEEN 50 AND 60;

In [ ]:
SELECT * FROM Customers WHERE City IN ('Paris', 'London');

<u>SQL AND, OR and NOT Operators</u>

Kayıtları birden fazla koşula göre filtrelemek için kullanılır.

**AND** tüm koşullar doğru ise görüntülenir.

**OR** koşullardan herhangi biri doğru ise görüntülenir.

**NOT** koşul doğru değilse görüntülenir.

In [ ]:
SELECT * FROM Customers WHERE Country='Germany' AND City='Berlin';

In [ ]:
SELECT * FROM Customers WHERE City='Berlin' OR City='Mannheim';

In [ ]:
SELECT * FROM Customers WHERE NOT Country='Germany';

Tüm isteyicileri birleştirebilirsiniz.

In [5]:
SELECT * FROM Customers WHERE Country='Germany' AND (City='Berlin' OR City='München');

<u>SQL ORDER BY</u>

Seçilen herhangi bir sütunu sıralamak için kullanılır.

**ASC** \- A dan Z ye

**DESC** \- Z den A ya

In [ ]:
SELECT * FROM Customers ORDER BY Country;

In [ ]:
SELECT * FROM Customers ORDER BY Country ASC;

In [ ]:
SELECT * FROM Customers ORDER BY Country DESC;

<u>SQL INSERT INTO</u>

Yeni kayıt ekleme yarar.

In [ ]:
INSERT INTO Customers (CustomerID, CompanyName, Address, City, PostalCode, Country)
VALUES ('ALFK2', 'Cardinal', 'Skaylake', 'Berlin', '4444', 'Germany');

<u>SQL IS NULL / NOT NULL</u>

In [ ]:
SELECT * FROM Customers WHERE City IS NULL;

In [ ]:
SELECT * FROM Customers WHERE City IS NOT NULL;

<u>SQL Update</u>

In [ ]:
UPDATE Customers SET ContactName = 'Alfred Schmidt', City = 'Ankara'
WHERE CustomerID = 'ALFKI';

<u>SQL Delete</u>

In [ ]:
DELETE FROM Customers WHERE ContactName = 'Alfred Schmidt';

<u>SQL TOP</u>

Kayıt sayısı kadar geri döndürmek için kullanılır.

<span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(198, 120, 221);">SELECT</span> <span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(198, 120, 221);">TOP</span> <span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(209, 154, 102);">3</span> <span style="color:rgb(171, 178, 191);font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">&nbsp;*&nbsp;</span> <span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(198, 120, 221);">FROM</span> <span style="color:rgb(171, 178, 191);font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">&nbsp;Customers;</span> Kodla ilk 3 kayıt alınmıştır.

<span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(198, 120, 221);">SELECT</span> <span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(198, 120, 221);">TOP</span> <span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(209, 154, 102);">50</span> <span style="color:rgb(171, 178, 191);font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">&nbsp;PERCENT&nbsp;*&nbsp;</span> <span style="font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;color:rgb(198, 120, 221);">FROM</span> <span style="color:rgb(171, 178, 191);font-family:Consolas, &quot;Courier New&quot;, monospace;font-size:12px;white-space:pre;">&nbsp;Customers;</span> Kodla %50 alınmıştır.

In [ ]:
SELECT TOP 3 * FROM Customers;

In [ ]:
SELECT TOP 50 PERCENT * FROM Customers;

<u>SQL MIN() and MAX()</u>

‎İşlev, seçili sütunun en küçük değerini döndürür.‎**MIN()**

‎İşlev, seçili sütunun en büyük değerini döndürür.‎**MAX()**

In [ ]:
SELECT MIN(UnitPrice) AS SmallestPrice FROM Products;

In [ ]:
SELECT MAX(UnitPrice) AS LargestPrice FROM Products;

<u>SQL COUNT(), AVG() and SUM()</u>

‎İşlev, belirtilen ölçütle eşleşen satır sayısını döndürür.‎ **COUNT()**

‎İşlev, sayısal sütunun ortalama değerini döndürür. **‎AVG()**

‎İşlev, sayısal bir sütunun toplam toplamını döndürür. ‎**SUM()**

In [2]:
SELECT COUNT(ProductID) FROM Products;

(No column name)
77

In [3]:
SELECT AVG(UnitPrice) FROM Products;

(No column name)
"28,8663"

In [5]:
SELECT SUM(ProductID) FROM Products;

(No column name)
3003