Select komutu ile seçilen sütunları belirtilen tabloya göre listeler.

In [ ]:
Select * from Customers;

In [ ]:
SELECT CompanyName, City from Customers;

SELECT DISTINCT Komutu ; Bir tablonun içinde bulunan bir sütun birçok yinelenen değer içerirse tek bir şekilde listelenmesi sağlanır

ÖRNEK olarak : Customers tablosundaki City sütununda 91 öge varken DISTINCT komutu ile 69 öge bulunmaktadır.

In [ ]:
SELECT DISTINCT(City) from Customers;

COUNT komutu ile sayı geri dönüşü yapılır.

In [ ]:
SELECT COUNT(DISTINCT City) from Customers;

SQL Where Cümlesi kayıtları filtrelemek için kullanılır

<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">SELECT</span> _column1_<span style="color: rgb(0, 0, 0); font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">,</span> _column2, ..._  
<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">FROM</span> _table\_name_  
<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">WHERE</span> _condition_<span style="color: rgb(0, 0, 0); font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">;</span>

| Operator | Description | Example |
| --- | --- | --- |
| \= | Equal | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_equal_to) |
| \\\> | Greater than | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_greater_than) |
| \< | Less than | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_less_than) |
| \\\>= | Greater than or equal | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_greater_than2) |
| \<= | Less than or equal | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_less_than2) |
| \<\> | Not equal. Note: In some versions of SQL this operator may be written as != | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_not_equal_to) |
| BETWEEN | Between a certain range - Belirli bir aralık arasında | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_between) |
| LIKE | Search for a pattern - Bir desen arayın | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_like) |
| IN | To specify multiple possible values for a column - Bir sütun için birden çok olası değer belirtmek için | [Try it](https://www.w3schools.com/sql/trysql.asp?filename=trysql_op_in) |

In [ ]:
SELECT * FROM Customers WHERE Country='Mexico';

In [ ]:
SELECT * FROM Products WHERE UnitPrice BETWEEN 50 AND 60;

In [ ]:
SELECT * FROM Customers WHERE City LIKE 's%';

In [ ]:
SELECT * FROM Customers WHERE City IN ('Paris','London');

WHERE yan tümcesi AND, OR ve NOT operatörleriyle birleştirilebilir.

In [13]:
SELECT * FROM Customers WHERE Country='Germany' AND City='Berlin';

In [ ]:
SELECT * FROM Customers WHERE City='Berlin' OR City='München';

In [ ]:
SELECT * FROM Customers WHERE Country='Germany' OR Country='Spain';

In [21]:
SELECT * FROM Customers WHERE NOT Country='Germany';

In [ ]:
SELECT * FROM Customers WHERE Country='Germany' AND (City='Berlin' OR City='München');

SQL ORDER BY

ORDER BY anahtar sözcüğü, sonuç kümesini artan veya azalan düzende sıralamak için kullanılır. ORDER BY anahtar sözcüğü, varsayılan olarak kayıtları artan düzende sıralar. Kayıtları azalan düzende sıralamak için DESC anahtar sözcüğünü kullanın.  

  

<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">SELECT</span> _column1_<span style="color: rgb(0, 0, 0); font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">,</span> _column2, ..._  
<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">FROM</span> _table\_name_  
<span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">ORDER</span> <span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">BY</span> _column1, column2, ..._ <span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">ASC</span><span style="color: rgb(0, 0, 0); font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">|</span><span class="sqlkeywordcolor" style="box-sizing: inherit; color: mediumblue; font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">DESC</span><span style="color: rgb(0, 0, 0); font-family: Consolas, &quot;courier new&quot;; font-size: 15px; background-color: rgb(255, 255, 255);">;</span>

In [ ]:
SELECT * FROM Customers ORDER BY Country;

In [ ]:
SELECT * FROM Customers ORDER BY Country DESC;

In [ ]:
SELECT * FROM Customers ORDER BY Country, ContactName;

In [ ]:
SELECT * FROM Customers ORDER BY Country ASC, ContactName DESC;

SQL INSERT

Bir tabloya yeni giriş eklemek için kullanılır

In [12]:
INSERT INTO Customers (CustomerID, CompanyName, ContactName, Address, City, PostalCode, Country) VALUES ('CARDL', 'Cardinal', 'Tom B. Erichsen', 'Skagen 21', 'Stavanger', '4006', 'Norway');